# Pandas
Python Advanced Data Analysis Tookit (=Pandas)

Hauptwerkzeug zu Verarbeitung von Dateien

In [2]:
import numpy as np
import pandas as pd

## Serie
Ein Numpy Array mit extra Eigenschaften

- Name
- Benannter Index
- und mehr

Auf das unterliegende numpy Array kann immer zugegriffen werden

In [5]:
e = pd.Series([8.3, 2.3, 1.7, 9.9])

In [6]:
e

0    8.3
1    2.3
2    1.7
3    9.9
dtype: float64

SDiese Zahlen alleine sagen nicht viel aus.

### Name

In [7]:
e.name = "Einwohnerzahlen (Millionen)"

In [8]:
e

0    8.3
1    2.3
2    1.7
3    9.9
Name: Einwohnerzahlen (Millionen), dtype: float64

### Index

In [9]:
e.index = ["CH", "DE", "AT", "IT"]

In [10]:
e

CH    8.3
DE    2.3
AT    1.7
IT    9.9
Name: Einwohnerzahlen (Millionen), dtype: float64

Auf Werte Ã¼ber Index zugreifen

In [12]:
e["CH"]

np.float64(8.3)

In [16]:
e["CH":"DE"] # Obergrenze inkludiert

CH    8.3
DE    2.3
Name: Einwohnerzahlen (Millionen), dtype: float64

In [17]:
e[0:2] # Obergrenze exkludiert

CH    8.3
DE    2.3
Name: Einwohnerzahlen (Millionen), dtype: float64

Zugriff auf das unterliegende Numpy Array

In [15]:
e.values

array([8.3, 2.3, 1.7, 9.9])

### Vektorisierung von Serien

In [18]:
e>5

CH     True
DE    False
AT    False
IT     True
Name: Einwohnerzahlen (Millionen), dtype: bool

In [19]:
e[e>5]

CH    8.3
IT    9.9
Name: Einwohnerzahlen (Millionen), dtype: float64

In [20]:
e.mean()

np.float64(5.550000000000001)

In [21]:
e > e.mean()

CH     True
DE    False
AT    False
IT     True
Name: Einwohnerzahlen (Millionen), dtype: bool

In [22]:
e[e>e.mean()]

CH    8.3
IT    9.9
Name: Einwohnerzahlen (Millionen), dtype: float64

## DataFrame

Effektiv eine Tabbele

Wird generell aus einer Datenquelle erzeugt

In [23]:
pd.DataFrame({"Spalte1": [1,2,3], "Spalte2": [4,5,6], "Spalte3": [7,8,9]})

   Spalte1  Spalte2  Spalte3
0        1        4        7
1        2        5        8
2        3        6        9

### read_csv

Daten werden aus einer CSV-Quelle eingelesen

Wird per Parameter konfiguriert

Beispiele
- delimiter
- thousands
- decimal
- pare_dates
- index_col
- ...

https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html