# Fehlerbehebung mit Pandas
Fehler in den Daten selbst beheben

In [1]:
import numpy as np
import pandas as pd

In [12]:
data = pd.read_csv("Data/PopulationData1.csv", delimiter=",", decimal =".", index_col="Country")

In [32]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [ ]:
data

b## Probleme mit dem Datenset

- NaN
- N.A.
- Prozentzeichen
- Datentypen (effiziente Typen)

### NaN (Not a Number)
isnull(), notnull()
isna(), notna()

In [14]:
data.notna()

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,True,True,True,True,True,True,True,True,True,True
India,True,True,True,True,True,True,True,True,True,True
United States,True,True,True,True,True,True,True,True,True,True
Indonesia,True,True,True,True,True,True,True,True,True,True
Pakistan,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...
Montserrat,True,True,True,True,True,False,True,True,True,True
Falkland Islands,True,True,True,True,True,False,True,True,True,True
Niue,True,True,True,True,True,False,True,True,True,True
Tokelau,True,True,True,True,True,False,True,True,True,True
Vatican State,True,True,True,True,True,False,True,True,True,True

In [17]:
data["Migrants"].isna()

Country
China               False
India               False
United States       False
Indonesia           False
Pakistan            False
                    ...
Montserrat           True
Falkland Islands     True
Niue                 True
Tokelau              True
Vatican State        True
Name: Migrants, Length: 235, dtype: bool

In [20]:
data[data["Migrants"].notna()==True]

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Aruba,106766,0.43 %,452,593,180,201.0,1.9,41,44 %,0.00 %
Tonga,105695,1.15 %,1201,147,720,-800.0,3.6,22,24 %,0.00 %
U.S. Virgin Islands,104425,-0.15 %,-153,298,350,-451.0,2.0,43,96 %,0.00 %
Seychelles,98347,0.62 %,608,214,460,-200.0,2.5,34,56 %,0.00 %
Antigua and Barbuda,97929,0.84 %,811,223,440,0.0,2.0,34,26 %,0.00 %

In [35]:
x = data["Migrants"].isna()

In [23]:
data["Migrants"][x] # Alle Länder bei denen Migrants NaN ist

Country
Isle of Man                NaN
Andorra                    NaN
Dominica                   NaN
Cayman Islands             NaN
Bermuda                    NaN
Marshall Islands           NaN
Northern Mariana Islands   NaN
Greenland                  NaN
American Samoa             NaN
Saint Kitts & Nevis        NaN
Faeroe Islands             NaN
Sint Maarten               NaN
Monaco                     NaN
Turks and Caicos           NaN
Saint Martin               NaN
Liechtenstein              NaN
San Marino                 NaN
Gibraltar                  NaN
British Virgin Islands     NaN
Caribbean Netherlands      NaN
Palau                      NaN
Cook Islands               NaN
Anguilla                   NaN
Tuvalu                     NaN
Wallis & Futuna            NaN
Nauru                      NaN
Saint Barthelemy           NaN
Saint Helena               NaN
Saint Pierre & Miquelon    NaN
Montserrat                 NaN
Falkland Islands           NaN
Niue                       NaN
Tokelau                    NaN
Vatican State              NaN
Name: Migrants, dtype: float64

In [24]:
data.isna().value_counts()

Population  YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldSharePct
False       False         False      False    False     False     False     False   False        False            201
                                                        True      False     False   False        False             34
Name: count, dtype: int64

In [27]:
data.loc[x, "Migrants"] = 0 # alle NaN von Migrants mit 0 ersetzen

In [28]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

#### dropna(), fillna()

dropna(): Wirft alle Zeilen mit NaN Werten weg

fillna(): Füllt alle Werte mit den vorherigen/nachfolgenden Werten auf

In [29]:
data.fillna(method="ffill")

C:\Users\de2\AppData\Local\Temp\ipykernel_5572\1138017119.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data.fillna(method="ffill")

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

In [30]:
data.ffill(inplace=True) # inplace um die Daten zu überschreiben (ansonsten wird nur Kopie gemacht)

In [31]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,N.A.,N.A.,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,N.A.,N.A.,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,N.A.,N.A.,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,N.A.,N.A.,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,N.A.,N.A.,N.A.,0.00 %

#### N.A.

Keine automatische Lösung -> manuell

Via. String Replace

In [33]:
data == "N.A."

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,False,False,False,False,False,False,False,False,False,False
India,False,False,False,False,False,False,False,False,False,False
United States,False,False,False,False,False,False,False,False,False,False
Indonesia,False,False,False,False,False,False,False,False,False,False
Pakistan,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
Montserrat,False,False,False,False,False,False,True,True,False,False
Falkland Islands,False,False,False,False,False,False,True,True,False,False
Niue,False,False,False,False,False,False,True,True,False,False
Tokelau,False,False,False,False,False,False,True,True,False,False
Vatican State,False,False,False,False,False,False,True,True,True,False

In [34]:
(data == "N.A.").value_counts()

Population  YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldSharePct
False       False         False      False    False     False     False     False   False        False            194
                                                                  True      True    False        False             28
                                                                  False     False   True         False              7
                                                                  True      True    True         False              6
Name: count, dtype: int64

Spaltenweise machen -> Spalten durchgehen, prüfen wo N.A. ist -> mit loc austauschen

In [43]:
for col in data.columns:
    x = data[col] == "N.A."
    data.loc[x, col] = 0 # inplace = True brauchen wir nicht, weil wir den Wert direkt mit "=" überschreiben

In [44]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39 %,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99 %,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59 %,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07 %,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00 %,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06 %,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05 %,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68 %,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27 %,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25 %,2,2003,0,0.0,0,0,0,0.00 %

In [45]:
(data == "N.A.").value_counts()

Population  YearlyChange  NetChange  Density  LandArea  Migrants  FertRate  MedAge  UrbanPopPct  WorldSharePct
False       False         False      False    False     False     False     False   False        False            235
Name: count, dtype: int64

##### Funktion fixNA

In [53]:
def fixNA(colName:str, newValue):
    x = data[colName] == "N.A."
    data.loc[x, colName] = newValue

In [55]:
# fixNA("FertRate", 1)

In [56]:
for col in data.columns:
    fixNA(col,0)

#### Prozentzeichen
Muss mithilfe von String Replace gemacht werden

In [57]:
data["YearlyChange"] = data["YearlyChange"].replace(" %", "", regex=True)

In [58]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399.0,1.7,38,61 %,18.47 %
India,1380004385,0.99,13586631,464,2973190,-532687.0,2.2,28,35 %,17.70 %
United States,331002651,0.59,1937734,36,9147420,954806.0,1.8,38,83 %,4.25 %
Indonesia,273523615,1.07,2898047,151,1811570,-98955.0,2.3,30,56 %,3.51 %
Pakistan,220892340,2.00,4327022,287,770880,-233379.0,3.6,23,35 %,2.83 %
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0.0,0,0,10 %,0.00 %
Falkland Islands,3480,3.05,103,0,12170,0.0,0,0,66 %,0.00 %
Niue,1626,0.68,11,6,260,0.0,0,0,46 %,0.00 %
Tokelau,1357,1.27,17,136,10,0.0,0,0,0 %,0.00 %
Vatican State,801,0.25,2,2003,0,0.0,0,0,0,0.00 %

##### FUnktion fixPct

In [60]:
def fixPct(colName):
    x = data[colName].replace(" %", "", regex=True)
    data[colName] = x

In [61]:
fixPct("UrbanPopPct")

In [62]:
fixPct("WorldSharePct")

In [76]:
data

,Population,YearlyChange,NetChange,Density,LandArea,Migrants,FertRate,MedAge,UrbanPopPct,WorldSharePct
Country,,,,,,,,,,
China,1439323776,0.39,5540090,153,9388211,-348399,1.7,38,61,18.47
India,1380004385,0.99,13586631,464,2973190,-532687,2.2,28,35,17.70
United States,331002651,0.59,1937734,36,9147420,954806,1.8,38,83,4.25
Indonesia,273523615,1.07,2898047,151,1811570,-98955,2.3,30,56,3.51
Pakistan,220892340,2.00,4327022,287,770880,-233379,3.6,23,35,2.83
...,...,...,...,...,...,...,...,...,...,...
Montserrat,4992,0.06,3,50,100,0,0.0,0,10,0.00
Falkland Islands,3480,3.05,103,0,12170,0,0.0,0,66,0.00
Niue,1626,0.68,11,6,260,0,0.0,0,46,0.00
Tokelau,1357,1.27,17,136,10,0,0.0,0,0,0.00
Vatican State,801,0.25,2,2003,0,0,0.0,0,0,0.00

#### Datentypen
Bei den vorherigen Änderungen wurde der Typ nicht angepasst. Unsere Prozentfelder sind immernoch vom Typ Object

-> Manuell

In [64]:
data.convert_dtypes().info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    Int64
 1   YearlyChange   235 non-null    string
 2   NetChange      235 non-null    Int64
 3   Density        235 non-null    Int64
 4   LandArea       235 non-null    Int64
 5   Migrants       235 non-null    Int64
 6   FertRate       235 non-null    object
 7   MedAge         235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    string
dtypes: Int64(5), object(3), string(2)
memory usage: 29.4+ KB

In [65]:
data["Population"] = data["Population"].astype(np.int32)

In [66]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    int32
 1   YearlyChange   235 non-null    object
 2   NetChange      235 non-null    int64
 3   Density        235 non-null    int64
 4   LandArea       235 non-null    int64
 5   Migrants       235 non-null    float64
 6   FertRate       235 non-null    object
 7   MedAge         235 non-null    object
 8   UrbanPopPct    235 non-null    object
 9   WorldSharePct  235 non-null    object
dtypes: float64(1), int32(1), int64(3), object(5)
memory usage: 27.4+ KB

##### Funktion fixType

In [67]:
def fixType(colName, newType):
    data[colName] = data[colName].astype(newType)

In [87]:
fixType("YearlyChange", np.float32)

In [88]:
fixType("NetChange", np.int32)

In [89]:
fixType("Density", np.int16)

In [90]:
fixType("LandArea", np.int32)

In [91]:
fixType("Migrants", np.int32)

In [92]:
fixType("FertRate", np.float32)

In [93]:
fixType("MedAge", np.uint8)

In [94]:
fixType("UrbanPopPct", np.uint8)

In [95]:
fixType("WorldSharePct", np.float32)

In [96]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235 entries, China to Vatican State
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Population     235 non-null    int32
 1   YearlyChange   235 non-null    float32
 2   NetChange      235 non-null    int32
 3   Density        235 non-null    int16
 4   LandArea       235 non-null    int32
 5   Migrants       235 non-null    int32
 6   FertRate       235 non-null    float32
 7   MedAge         235 non-null    uint8
 8   UrbanPopPct    235 non-null    uint8
 9   WorldSharePct  235 non-null    float32
dtypes: float32(3), int16(1), int32(4), uint8(2)
memory usage: 17.3+ KB

In [99]:
1-(17.3/27.4) # ~37% Speicherersparnis

0.3686131386861313

In [100]:
data.to_csv("Data/PopulationDataFertig.csv")